<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trioshop.repository.mybatis.AdminMapper">

    <insert id="itemSave" useGeneratedKeys="true" keyProperty="itemCode">
        INSERT INTO TRIO_ITEMS (item_name, category_code, item_price, factory_code, item_size, item_color)
        VALUES (#{itemName},#{categoryCode},#{itemPrice},#{factoryCode},#{itemSize},#{itemColor})
    </insert>

    <insert id="purchaseSave" useGeneratedKeys="true" keyProperty="purchaseCode">
        INSERT INTO TRIO_PURCHASE (purchase_qty, item_code)
        VALUES (#{purchaseQty}, #{itemCode})
    </insert>

    <select id="purchaseFindAll" resultType="PurchaseListModel">
        SELECT purchase_code, pur.item_code, purchase_qty, factory_code, item_name,
               category_name, item_size, item_color
        FROM TRIO_PURCHASE pur, TRIO_ITEMS item, TRIO_CATEGORY cate
        WHERE pur.item_code = item.item_code
        AND item.category_code = cate.category_code
        ORDER BY 1;
    </select>

    <insert id="storeSave" useGeneratedKeys="true" keyProperty="storeCode">
        INSERT INTO TRIO_STORES (stores_qty, item_code, stores_price
        <if test="purchaseCode != null">
            , purchase_code
        </if>
        )
        VALUES (#{storeQty},#{itemCode},#{storePrice}
        <if test="purchaseCode != null">
            , #{purchaseCode}
        </if>
        )
    </insert>

    <select id="storesFindAll" resultType="StoresListModel">
        SELECT store_code, stores_qty,
               <if test="purchaseCode != null">
               st.purchase_code,
               </if>
               st.item_code, factory_code, item_name,
               category_name, stores_price, item_size, item_color
        FROM TRIO_STORES st, TRIO_ITEMS item, triodb.TRIO_CATEGORY cate
        <if test="purchaseCode != null">
            ,TRIO_PURCHASE pur
        </if>
        WHERE st.item_code = item.item_code
        <if test="purchaseCode != null">
        AND st.purchase_code = pur.purchase_code
        </if>
        AND item.category_code = cate.category_code
        ORDER BY 1;
    </select>

</mapper>