<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trioshop.repository.mybatis.UserMapper">

    <select id="findAll" resultType="User">
        SELECT tuser.user_code userCode,
               tuser.grade_code gradeCode,
               tuser.user_id userId,
               tuser.user_passwd userPasswd,
               info.user_name userName,
               info.user_address userAddress,
               info.user_tel userTel,
               info.user_nickname userNickname
        FROM TRIO_USERS tuser,TRIO_USERS_INFO info
        WHERE tuser.user_code = info.user_code
    </select>
</mapper>
