<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trioshop.repository.mybatis.UserMapper">

    <select id="loginUser" parameterType="com.trioshop.model.dto.user.UserIdPasswd" resultType="com.trioshop.model.dto.user.UserInfoBySession">
        SELECT tuser.user_code AS userCode,
               tuser.grade_code AS gradeCode,
               tuser.user_id AS userId,
               tuser.user_passwd AS userPasswd,
               info.user_name AS userName,
               info.user_address AS userAddress,
               info.user_tel AS userTel,
               info.user_nickname AS userNickname
        FROM TRIO_USERS tuser
                 JOIN TRIO_USERS_INFO info ON tuser.user_code = info.user_code
        WHERE tuser.user_id = #{userId}
          AND tuser.user_passwd = #{userPasswd}
    </select>

    <select id="findId" parameterType="map" resultType="com.trioshop.model.dto.user.UserInfoBySession">
        SELECT tuser.user_code AS userCode,
               tuser.grade_code AS gradeCode,
               tuser.user_id AS userId,
               tuser.user_passwd AS userPasswd,
               info.user_name AS userName,
               info.user_tel AS userTel,
               info.user_nickname AS userNickname
        FROM TRIO_USERS tuser
                 JOIN TRIO_USERS_INFO info ON tuser.user_code = info.user_code
        WHERE info.user_name = #{userName}
          AND info.user_tel = #{userTel}
    </select>

    <select id="findPw" parameterType="map" resultType="com.trioshop.model.dto.user.UserInfoBySession">
        SELECT tuser.user_code AS userCode,
               tuser.grade_code AS gradeCode,
               tuser.user_id AS userId,
               tuser.user_passwd AS userPasswd,
               info.user_name AS userName,
               info.user_address AS userAddress,
               info.user_tel AS userTel,
               info.user_nickname AS userNickname
        FROM TRIO_USERS tuser
                 JOIN TRIO_USERS_INFO info ON tuser.user_code = info.user_code
        WHERE info.user_name = #{userName}
          AND tuser.user_id = #{userId}
    </select>

    <insert id="saveUsers" parameterType="UserJoin" useGeneratedKeys="true" keyProperty="userCode">
        <!-- TRIO_USERS 테이블에 사용자 정보 저장 -->
        INSERT INTO TRIO_USERS (grade_code, user_id, user_passwd)
        VALUES (
        1,
        #{userId},
        #{userPasswd}
        )
    </insert>

    <insert id="saveUserInfo" parameterType="UserJoin">
        <!-- TRIO_USERS_INFO 테이블에 사용자 상세 정보 저장 -->
        INSERT INTO TRIO_USERS_INFO (user_code, user_name, user_address, user_tel, user_nickname)
        VALUES (
        LAST_INSERT_ID(),
        #{userName},
        #{userAddress},
        #{userTel},
        #{userNickname}
        )
    </insert>


    <update id="patchUser" parameterType="com.trioshop.model.dto.user.UserPatch">
        UPDATE TRIO_USERS_INFO
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userAddress != null and userAddress != ''">
                user_address = #{userAddress},
            </if>
            <if test="userTel != null and userTel != ''">
                user_tel = #{userTel},
            </if>
            <if test="userNickname != null and userNickname != ''">
                user_nickname = #{userNickname}
            </if>
        </set>
        WHERE user_code = #{userCode}
    </update>

    <update id="patchUserPw" parameterType="com.trioshop.model.dto.user.UserPatch">
        UPDATE TRIO_USERS
        <set>
            <if test="userPasswd != null and userPasswd != ''">
                user_passwd = #{userPasswd}
            </if>
        </set>
        WHERE user_code = #{userCode}
    </update>




</mapper>
