* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

body {
    background-color: #eff0f2;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eff0f2;
}

.shadow {
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
    box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
}

.login-form-container {
    background: #f5f5f5;
    width: 100%;
    max-width: 860px;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
}

.login-form-right-side {
    width: 50%;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("/images/login/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: white;
}

.login-top-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.login-top-wrap span {
    color: gray;
    font-size: 11px;
    padding-right: 20px;
}

.create-account-btn {
    background: white;
    border: 0;
    width: 85px;
    height: 35px;
    font-size: 10px;
    color: #2178ff;
    border-radius: 3px;
    padding: 10px 0;
}

.login-input-container {
    width: 100%;
    max-width: 300px;
}

.login-input-wrap {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #9ba0a7;
    margin-top: 20px;
}

.login-input-wrap i {
    color: #9ba0a7;
    padding-right: 10px;
}

.login-input-wrap input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
    line-height: 45px;
    background: none;
}

.login-btn-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn {
    width: 300px;
    max-width: 285px;
    height: 35px;
    color: blue;
    border: 1px solid blue;
    border-radius: 8px;
    margin-bottom: 10px;
}

.or-text {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 10px;
}

.API_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.API_img img {
    width: 170px;
    height: auto;
}

.login-btn-wrap-find {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-btn-wrap-find a {
    font-size: 11px;
    color: blue;
    text-decoration: none;
    margin-left: 10px;
}

.login-input-container h1 {
    font-size: 2.5rem;
}

.login-input-container h3 {
    font-size: 1rem;
}

@media (max-width: 749px) {
    .login-form-container {
        flex-direction: row;
        align-items: inherit;
    }

    .login-form-right-side, .login-form-left-side {
        width: 100%;
        padding: 20px;
    }
    .login-form-right-side {
        background-image: none; /* 이미지 숨기기 */
    }
}
